extends layout

block content
    div#userInfoCont
        h1= title
        p Welcome to our test
        input(data-bind='click:getUsers' type='button' value='Get Users')
        // Wrapper
        #wrapper

            // USER LIST
            h2 User List
            #userList(style="margin-bottom:20px")
                table
                    thead
                        th UserName
                        th Email
                        th Delete?
                    tbody(data-bind='foreach:userList')
                        tr(data-bind='attr:{ \'data-id\':uid }')
                            td(data-bind='text:username, click:$parent.getUser')
                            td(data-bind='text:email')
                            td(data-bind='click:$parent.removeUser') Delete
            // SHOW USER INFO
            div#user-info
                span Full Name:
                span(data-bind="text:currUser().fullname")
                br
                span Username:
                span(data-bind="text:currUser().username")
                br
                span Email:
                span(data-bind="text:currUser().email")
                br
                span Gender:
                span(data-bind="text:currUser().gender")
                br
                span Location:
                span(data-bind="text:currUser().location")
                br
                span Age:
                span(data-bind="text:currUser().age")
            // /SHOW USER INFO

            // ADD USER
            h2 Add User
            #addUser
                fieldset
                    input#inputUserName(type='text', placeholder='Username')
                    input#inputUID(type='text', placeholder='uid')
                    input#inputUserEmail(type='text', placeholder='Email')
                    br
                    input#inputUserFullname(type='text', placeholder='Full Name')
                    input#inputUserAge(type='text', placeholder='Age')
                    br
                    input#inputUserLocation(type='text', placeholder='Location')
                    input#inputUserGender(type='text', placeholder='gender')
                    br
                    button(data-bind="click:addUser")#btnAddUser Add User
            // /ADD USER

        // /WRAPPER

