extends layout

block content
    div#userInfoCont
        h1= title
        p Welcome to our test
        input(data-bind='click:getUsers' type='button' value='Get Users')
        input(data-bind='click:getBooks' type='button' value='Get Books')
        // Wrapper
        #wrapper

            // USER LIST
            h2 User List
            #userList(style="margin-bottom:20px")
                table
                    thead
                        th Full Name
                        th Email
                        th Delete?
                    tbody(data-bind='foreach:userList')
                        tr(data-bind='attr:{ \'data-id\':uid }')
                            td(data-bind='text:fullname, click:$parent.getUser')
                            td(data-bind='text:email')
                            td(data-bind='click:$parent.removeUser') Delete
            // SHOW USER INFO
            div#user-info
                span Full Name:
                span(data-bind="text:currUser().fullname")
                br
                span UID:
                span(data-bind="text:currUser().uid")
                br
                span Email:
                span(data-bind="text:currUser().email")
                br
                span Rating:
                span(data-bind="text:currUser().rating")
            // /SHOW USER INFO

            // ADD USER
            h2 Add User
            #addUser
                fieldset
                    input#inputUserFullname(type='text', placeholder='Full Name')
                    input#inputUID(type='text', placeholder='uid')
                    input#inputUserEmail(type='text', placeholder='Email')
                    input#inputUserRating(type='text', placeholder='Rating')
                    br
                    button(data-bind="click:addUser")#btnAddUser Add User
            // /ADD USER

            h2 Add Book
            #addBook
                fieldset
                    input#inputBookISBN(type='text', placeholder='ISBN')
                    input#inputBookTitle(type='text', placeholder='Title')
                    br
                    input#inputBookEdition(type='text', placeholder='Edition')
                    input#inputBookDesc(type='text', placeholder='Description')
                    br
                    label(for='inputBookHardcover') Is Harcover
                    input#inputBookHardcover(type='checkbox' name='inputBookHardcover')
                    select#inputBookQual
                        option(value='good') Good
                        option(value='bad') Bad
                        option(value='ugly') Ugly
                    br
                    button(data-bind="click:addBook")#btnAddUser Add Book
        // /WRAPPER

