extends layout

block content
    div#mainContent(data-bind="template: { name:bodyTmpl }")


    script(type="text/html", id="blank-tmpl")

    script(type="text/html", id="profile")
        // SHOW USER INFO
        div(class="col s6 center" id="user-banner")
            div(id="img-cont")
                span(class="add-photo-txt") Upload Photo
            h3(data-bind="text:currUser().fullname")
            hr
            button(class="btn waves-effect waves-light", data-bind='click:editAccount') Edit
            div#user-info
                br
                span UID:
                span(data-bind="text:currUser().uid")
                br
                span Email:
                span(data-bind="text:currUser().email")
                br
                span Rating:
                span(data-bind="text:currUser().rating")

        div(class="row")
            div(class="col s12")
                ul(class="tabs")
                    li(class="tab col s6")
                        a(href="#myBooks") My Books
                    li(class="tab col s6")
                        a(href="#wishList") Wish List
        div(class="row" id="myBooks")
            div(class="col s12")
                table
                    thead
                        tr
                            th(data-field="Name") book title
                            th(data-field="Price") price
                    tbody(data-bind="foreach:currUser().sBooks")
                        tr
                            td(data-bind="text:title")
                            td(data-bind="text:price")
        div(class="row" id="wishList")
            div(class="col s12")
                table
                    thead
                        tr
                            th(data-field="Name") book title
                            th(data-field="Condition") condition
                            th(data-field="Price") price
                    tbody(data-bind="foreach:currUser().bBooks")
                        tr
                            td(data-bind="text:title")
                            td(data-bind="text:condition")
                            td(data-bind="text:price")
        // /SHOW USER INFO

    script(type="text/html", id="login")
        div(class="row", data-bind="template: { name: loginBodyTmpl}")
        div(class="row")
            button(class="btn waves-effect waves-light", data-bind='click:login', style="margin-left:20px") Login
            button(class="btn waves-effect waves-light", data-bind='click:signUp', style="margin-left:20px") Sign Up

    script(type="text/html", id="login-body")
        div(class="row")
            h4(class="center") Login
            br
            div(class="col s12")
                div(class="row")
                    div(class="input-field col s12")
                        input#loginUsername(type='text', name='name', class="validate")
                        label(for="name") Username
                div(class="row")
                    div(class="input-field col s12")
                        input#loginPass(type='text', name='name', class="validate")
                        label(for="name") Password
    script(type="text/html", id="signup-body")
        div(class="row")
            h4(class="center") Sign Up
            br
            div(class="col s12")
                div(class="row")
                    div(class="input-field col s12")
                        input#inputUserFullname(type='text', name='name', class="validate")
                        label(for="name") Full Name
                div(class="row")
                    div(class="input-field col s12")
                        input#inputUID(type='text', name='uid', class="validate")
                        label(for="uid") UID
                div(class="row")
                    div(class="input-field col s12")
                        input#inputUserEmail(type='text', name='email', class="validate")
                        label(for="email") Email
                div(class="row")
                    div(class="input-field col s12")
                        input#inputUserPassword(type='text', name='password', class="validate")
                        label(for="password") Password
                div(class="row")
                    div(class="input-field col s12")
                        input#inputUserVerifyPassword(type='text', name='verify-pass', class="validate")
                        label(for="verify-pass") Verify Password

    script(type="text/html", id="testing")
        div(class="row")
            h4 Functions
            br
            button(class="btn waves-effect waves-light", data-bind='click:getUsers', style="margin-left:20px") Get Users
            button(class="btn waves-effect waves-light", data-bind='click:getBooks', style="margin-left:20px") Get Books
            // Wrapper
            #wrapper
                div(class="row")
                    // USER LIST
                    div(class="col s6")
                        h3 User List
                        #userList(style="margin-bottom:20px")
                            table
                                thead
                                    th Full Name
                                    th Email
                                    th Delete?
                                tbody(data-bind='foreach:userList')
                                    tr(data-bind='attr:{ \'data-id\':uid }')
                                        td(data-bind='text:fullname, click:$parent.getUser')
                                        td(data-bind='text:email')
                                        td(data-bind='click:$parent.removeUser') Delete

                    // SHOW USER INFO
                    div(class="col s6")
                        h3 User Info
                        div#user-info
                            span Full Name:
                            span(data-bind="text:currUser().fullname")
                            br
                            span UID:
                            span(data-bind="text:currUser().uid")
                            br
                            span Email:
                            span(data-bind="text:currUser().email")
                            br
                            span Rating:
                            span(data-bind="text:currUser().rating")
                    // /SHOW USER INFO


                div(class="row")
                    // ADD USER
                    div(class="col m6")
                        h3 Add User
                        #addUser
                            fieldset
                                div(class="row")
                                    div(class="input-field col s12")
                                        input#inputUserFullname(type='text', name='name', class="validate")
                                        label(for="name") Full Name
                                div(class="row")
                                    div(class="input-field col s12")
                                        input#inputUID(type='text', name='uid', class="validate")
                                        label(for="uid") UID
                                div(class="row")
                                    div(class="input-field col s12")
                                        input#inputUserEmail(type='text', name='email', class="validate")
                                        label(for="email") Email
                                div(class="row")
                                    div(class="input-field col s12")
                                        input#inputUserRating(type='text', name='rating', class="validate")
                                        label(for="rating") Rating
                                br
                                button(class="btn waves-effect waves-light", data-bind="click:addUser")#btnAddUser Add User
                    // /ADD USER
                    // ADD BOOK
                    div(class="col s6")
                        h3 Add Book
                        #addBook
                            fieldset
                                div(class="row")
                                    div(class="input-field col s12")
                                        input#inputBookISBN(type='text', name='isbn', class="validate")
                                        label(for="isbn") ISBN
                                div(class="row")
                                    div(class="input-field col s12")
                                        input#inputBookTitle(type='text', name='book-title', class="validate")
                                        label(for="book-title") Title
                                div(class="row")
                                    div(class="input-field col s12")
                                        input#inputBookEdition(type='text', name='edition', class="validate")
                                        label(for="edition") Edition
                                div(class="row")
                                    div(class="input-field col s12")
                                        input#inputBookDesc(type='text', name='description', class="validate")
                                        label(for="description") Description
                                div(class="row")
                                    div(class="input-field col s12")
                                        input#inputBookHardcover(type='checkbox' name='inputBookHardcover', class="filled-in")
                                        label(for="inputBookHardcover") Is Harcover
                                        div(class="row")
                                    div(class="input-field col s12")
                                        span Condition
                                        select#inputBookQual(name='condition')
                                            option(value='good') Good
                                            option(value='bad') Bad
                                            option(value='ugly') Ugly
                                br
                                button(class="btn waves-effect waves-light", data-bind="click:addBook")#btnAddUser Add Book
                    // / ADD BOOK
            // /WRAPPER


